In [20]:
import os
import csv
import pandas as pd

# Set the directory to search for CSV files in
root_dir = "D:/Development/GitHub-ProjectV2.0/MaaSSim/docs/tutorials/Results/"


# Create a list to store the dataframes for each file
df1_list = []

# Walk through the directory and its subdirectories to find CSV files
for subdir, dirs, files in os.walk(root_dir):
    # Iterate over the CSV files in the current folder
    for file in files:
        if file.lower().endswith(".csv") and file.lower().startswith("veh1"):
            # Construct the full file path
            csv_file = os.path.join(subdir, file)
            # Read the CSV file into a dataframe
            df1 = pd.read_csv(csv_file)
            # Add the dataframe to the list
            df1_list.append(df1)

# Concatenate all the dataframes into a single dataframe
combined_df = pd.concat(df1_list)

# Print the first 5 rows of the combined dataframe
#print(combined_df)

# Sum the values in the "revenue" column
revenue_sum = df1["REVENUE"].sum()
df1
# Print the resulting dataframe
#print(grouped_df)

,Unnamed: 0,nRIDES,nREJECTED,OUT,STARTS_DAY,OPENS_APP,RECEIVES_REQUEST,ACCEPTS_REQUEST,REJECTS_REQUEST,IS_ACCEPTED_BY_TRAVELLER,...,DECIDES_NOT_TO_DRIVE,ENDS_SHIFT,TRAVEL,WAIT,CRUISE,OPERATIONS,IDLE,PAX_KM,REVENUE,nV
0,sum,157.000000,0.0,0.0,0.0,0.0,1602.000000,162.000000,0.0,1792.000000,...,0.0,62924.00000,22090.000000,0.0,14710.00000,6664.000000,19460.000000,380.123000,380.123000,10
1,mean,15.700000,0.0,0.0,0.0,0.0,160.200000,16.200000,0.0,179.200000,...,0.0,6292.40000,2209.000000,0.0,1471.00000,666.400000,1946.000000,38.012300,38.012300,10
2,std,1.159502,0.0,0.0,0.0,0.0,36.199448,3.794733,0.0,31.353894,...,0.0,353.81954,317.234578,0.0,140.69352,54.138095,721.107173,7.351562,7.351562,10

In [21]:
import os
import csv
import pandas as pd

# Set the directory to search for CSV files in
root_dir = "D:/Development/GitHub-ProjectV2.0/MaaSSim/docs/tutorials/Results/"

# Create a list to store the dataframes for each file
df2_list = []

# Walk through the directory and its subdirectories to find CSV files
for subdir, dirs, files in os.walk(root_dir):
    # Iterate over the CSV files in the current folder
    for file in files:
        if file.lower().endswith(".csv") and file.lower().startswith("veh2"):
            # Construct the full file path
            csv_file = os.path.join(subdir, file)
            # Read the CSV file into a dataframe
            df2 = pd.read_csv(csv_file)
            # Add the dataframe to the list
            df2_list.append(df2)

# Concatenate all the dataframes into a single dataframe
combined_df2 = pd.concat(df2_list)

# Print the first 5 rows of the combined dataframe
#print(combined_df)

# Sum the values in the "revenue" column
revenue_sum = df2["REVENUE"].sum()
df2
# Print the resulting dataframe
#print(grouped_df)

,Unnamed: 0,nRIDES,nREJECTED,OUT,STARTS_DAY,OPENS_APP,RECEIVES_REQUEST,ACCEPTS_REQUEST,REJECTS_REQUEST,IS_ACCEPTED_BY_TRAVELLER,...,DECIDES_NOT_TO_DRIVE,ENDS_SHIFT,TRAVEL,WAIT,CRUISE,OPERATIONS,IDLE,PAX_KM,REVENUE,nV
0,sum,162.000000,0.0,0.0,0.0,0.0,1642.000000,174.000000,0.0,1862.000000,...,0.0,61809.000000,22196.00000,0.0,15447.000000,6896.000000,17270.000000,382.435000,382.435000,10
1,mean,16.200000,0.0,0.0,0.0,0.0,164.200000,17.400000,0.0,186.200000,...,0.0,6180.900000,2219.60000,0.0,1544.700000,689.600000,1727.000000,38.243500,38.243500,10
2,std,1.813529,0.0,0.0,0.0,0.0,43.738618,4.812022,0.0,39.205442,...,0.0,354.121589,267.94701,0.0,304.991821,86.976625,701.720901,7.701636,7.701636,10

In [22]:
import os
import csv
import pandas as pd

# Set the directory to search for CSV files in
root_dir = "D:/Development/GitHub-ProjectV2.0/MaaSSim/docs/tutorials/Results/"

# Create a list to store the dataframes for each file
df3_list = []

# Walk through the directory and its subdirectories to find CSV files
for subdir, dirs, files in os.walk(root_dir):
    # Iterate over the CSV files in the current folder
    for file in files:
        if file.lower().endswith(".csv") and file.lower().startswith("veh3"):
            # Construct the full file path
            csv_file = os.path.join(subdir, file)
            # Read the CSV file into a dataframe
            df3 = pd.read_csv(csv_file)
            # Add the dataframe to the list
            df3_list.append(df3)

# Concatenate all the dataframes into a single dataframe
combined_df3 = pd.concat(df3_list)

# Print the first 5 rows of the combined dataframe
#print(combined_df)

# Sum the values in the "revenue" column
revenue_sum = df3["REVENUE"].sum()
df3
# Print the resulting dataframe
#print(grouped_df)

,Unnamed: 0,nRIDES,nREJECTED,OUT,STARTS_DAY,OPENS_APP,RECEIVES_REQUEST,ACCEPTS_REQUEST,REJECTS_REQUEST,IS_ACCEPTED_BY_TRAVELLER,...,DECIDES_NOT_TO_DRIVE,ENDS_SHIFT,TRAVEL,WAIT,CRUISE,OPERATIONS,IDLE,PAX_KM,REVENUE,nV
0,sum,167.000000,0.0,0.0,0.0,0.0,1612.000000,208.000000,0.0,1801.000000,...,0.0,62130.000000,23688.000000,0.0,13541.000000,7019.000000,17882.000000,410.648000,410.648000,10
1,mean,16.700000,0.0,0.0,0.0,0.0,161.200000,20.800000,0.0,180.100000,...,0.0,6213.000000,2368.800000,0.0,1354.100000,701.900000,1788.200000,41.064800,41.064800,10
2,std,1.337494,0.0,0.0,0.0,0.0,39.468131,5.633235,0.0,45.930987,...,0.0,296.403629,257.440306,0.0,238.509003,76.339083,617.429042,8.935338,8.935338,10

In [23]:

# concatenate the columns into a single dataframe
df4 = pd.concat([df1['REVENUE'], df2['REVENUE'], df3['REVENUE']])
condition = df4['A'] = 0
df5 = df4[condition]
df5.index = ['Profit Max', 'Private', 'Pooled']
df5

Profit Max    380.123
Private       382.435
Pooled        410.648
Name: REVENUE, dtype: float64

In [11]:
df5.to_csv('D:/Development/GitHub-ProjectV2.0/MaaSSim/docs/tutorials/Results/data.csv', index=False)